h1{ 
    font-size: 2.2em; 
} 
     
h2{ 
    font-size: 2.0em;     
} 
     
h3 { 
    font-size: 1.8em; 
} 
     
h4 { 
    font-size: 1.6em;     
} 
     
h5 { 
    font-size: 1.4em;     
} 
     
p { 
    font-size: 1.2em;     
}