.companylist{
    position: relative;
    flex-direction: column;
    position: relative;
    background-color: $tertiary;

    &_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;

        &_a-z{
            background-color: $tertiary;
            padding: .3em 0;
            width: 100%;
            border-bottom: thin solid $secondary;
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-between;
            h1{
                padding-left: 1.1em;
            }

            .chevron{
                position: relative;
                right: 1em;
                transition: transform 250ms ease-in;
            }

            &.show{

                .chevron{
                    transform: rotate(180deg);
                }
            }
        }

        &_list{
            &.show{
                display: flex;
            }
            display: none;
            flex-direction: column;
            align-items: center;
            min-width: 100%;
            min-height: 95vh;

            &_item{
                height: fit-content;
                padding: 0.5em 0;
                width: 100%;
                display: flex;
                border-bottom: thin solid black;

                hr{
                    width: 90%;
                    border: .4px solid $secondary;
                }

                &_top,
                &_bottom{
                    display: flex;
                }

                &_top{
                    width: 100%;
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    flex:1;

                    &_link{
                        max-width: 100%;
                        padding: 0 1em;
                        height: fit-content;
                        a{
                            text-decoration: none;
                            color: $tertiary;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            h2{
                                font-size: 150%;
                                display: flex;
                                justify-content: center;
                                width: 100%;
                            }
                            p{
                                height: 100%;
                                padding-left: 2em;
                                display: flex;
                                align-items: center;
                            }
                        }

                        .list_email{
                            text-align: center;
                            font-size: smaller;
                            margin-top: .5em;
                        }
                    }

                }

                &_bottom{
                    width: 90%;
                    margin: 0 auto;
                    justify-content: space-between;
                    div{
                        flex-grow: 1;
                    }
                    p{
                        width: 100%;
                        padding: 0 2%;
                        display: flex;
                        align-items: center;
                        font-size: 85%;
                        text-overflow: ellipsis;
                        &:nth-child(2){
                            border-left: thin solid $secondary;
                            border-right: thin solid $secondary;
                        }
                    }
                }

                &_guests{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .guest_text{
                        font-size: 90%;
                        color: $secondary;
                    }

                    .guests{
                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;
                    }
                }

                &_icon{
                    flex: 1;
                    max-width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-left: thin solid $secondary;
                    svg{
                        height: 70%;
                        stroke: $tertiary;
                    }
                }

            }
        }
    }

    .card-lists{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5% 0;
        flex-grow: 2;
        width: 100%;

        .card-section{
            background-color: white;
            width: 70%;
            // height: 25vh;
            margin: 5%;
            border-radius: 15px;
            padding: 2em;

            .top-section{
                display: flex;
                height: 50%;
                position: relative;

                .top-section-text{
                    width: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    a{
                        text-decoration: none;
                    }

                    h2{
                        color: $tertiary;
                        font-weight: bold;
                    }
                }

                .favourite-icon{
                    // width: 15%;
                    position: absolute;
                    right: 0;
                    

                    svg{
                        height: 2em;
                        width: 2em;
                        stroke: #0D6FA5;
                    }
                }
            }

            .section-tags{
                p{
                    display: flex;
                    padding: 1em 0;
    
                    span{
                        background-color: $secondary;
                        padding: 0.5em;
                        border-radius: 10px;
                    }
    
                    span:nth-child(even){
                        margin: 0 1em;
                    }
                }
            }

            .card-guests{
                display: flex;
                align-items: center;
                border-top: thin solid red;
                padding: 1em 0;

                .guest{
                    display: flex;
                    flex-grow: 1;

                    svg{
                        margin-right: 1em;
                        height: 3em;
                        width: 3em;
                    }
                    
                    p{
                        justify-content: center;
                        align-items: center;
                        display: flex;
                    }

                }
            }

            
        }
    }


    .loader{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loader_company{
            height: 25%;
            width: 25%;
            animation: 5s rotate360 infinite linear;
            margin-bottom: 5em;
        }

    }

    .filter_menu{
        width: 100%;
        position: sticky;
        top: 7vh;
        z-index: 8;
        background-color: $tertiary;

    }
}


@media only screen and (min-width: 800px){
    .companylist_mobile_list {
        &.show{
            flex-direction: row;
            flex-wrap: wrap;
            padding: 2em;
            justify-content: space-evenly;
        }

        &_item{
            width: 30%;
            border: thin solid $secondary;
            border-radius: 15px;
            height: 30vh;
            box-sizing: content-box;
            padding: 1em 0;
            margin: 1em 0;
            position: relative;

            &_top{
                max-width: 100%;
                &_link{
                    height: 50%;
                    a{
                        height: 80%;
                        h2{
                            max-width: 80%;
                        }
                    }
                    
                }

                .companylist_mobile_list_item_bottom{
                    height: 25%;

                    p{
                        border:none;
                    }
                }
            }

            &_icon{
                position: absolute;
                border: none;
                right: 2em;
                top: 2em;

                svg{
                    height: 2em;
                    width: 2em;

                    
                }
            }
            
            
            &_guests{
                height: 25%;
                display: flex;
                justify-content: space-evenly;

                .guest_text{
                    width: 100%;
                    text-align: center;
                    margin: .5em;
                    padding-top: .5em;
                    font-style: italic;
                    font-weight: bold;
                }

                .guests{
                    display: flex;
    
                    .guest{
    
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        align-items: center;
                        margin: .5em;
                    }
                }
            }


        }
    }
}


@keyframes rotate360 {
    to { transform: rotate(360deg); }
}