.participants{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .event_card{
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media only screen and (min-width: 850px){
    .participants{
        flex-direction: row;
        flex-wrap: wrap;
        .event_card{
            width: 40%;
            height: 25vh;
        }
    }
}