.navigation{
    background-color: #F98C56;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: .5em 0;
        color: black;
        text-decoration: none;

        &.active{
            background-color: $tertiary;
            span{
                color: white;
                text-shadow: 1.5px 1.5px black;
            }
            svg{
                stroke: white;
                stroke-width: 2;
                filter: drop-shadow(2px 4px 6px black);
            }
        }
    }
}