.search_input{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 4vh;
    margin: auto;
    padding: .5em 0;
    position: relative;
    
    input{
        width: 100%;
        border-radius: 10px;
    }

    span{
        position: absolute;
        right: 1em;
        top: .4em;
        
        svg{
            height: 2em;
            width: 2em;
        }
    }
}

.dropdown_filter{
    width: 100%;
    p{
        color: white;
    }

    &.filter_close{
        height: 0;
        overflow: hidden;
    }

    .select_dropdown{
        width: 80%;
        margin: .4em auto;
    }
}
