.company_info_page{
    height: 100%;
    width: 100vw;
    background-color: $tertiary;

    .hero_image{
        background: url('../assets/img/hero.jpg') center/cover no-repeat;
        height: 30vh;
    }

    .company_contacts_section,
    .company_goals,
    .company_guests{
        width: 80%;
        margin: auto;
    }

    .company_goals,
    .company_guests{
        position: relative;
        color: white;
        top: -5%;
    }

    .company_contacts_section{
        background-color: white;
        padding: 1em;
        position: relative;
        top: -10%;
        display: flex;

        .company_contact{
            flex-grow: 2;

            &_mid{
                margin: 1em 0;
                p{
                    display: flex;
                    svg{
                        stroke: black;
                    }
                    .company_info_text{
                        margin: 0 .5em;
                    }
                }
            }
        }
    }

    .company_goals{
        margin-bottom: 2em;

        div:nth-child(even){
            margin: 1em 0;
        }

    }

    .company_guests{
        display: flex;
        justify-content: space-between;
        .profile_section{
            flex-grow: 1;

            svg{
                fill: white;
            }
        }
    }

}