.company_detail_info{

    background-color: $tertiary;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1em;

    .info_upper,
    .info_guests{
        flex-grow: 1;
    }

    .info_upper{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .info_mid{
        display: flex;
        align-items: stretch;
        flex-grow: 2;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        &_left,
        &_right{
            display: flex;
            height: 100%;
            flex-direction: column;
            
        }
    }

    .info_guests{
        margin-top: 1em;
        display: flex;

        .profile_section{
            flex-grow: 1;

            .default_profile_pic{
                fill: white;
            }

        }
    }

}