.event{
    display: flex;
    flex-direction: column;
    height: 50%;
    &_header,
    &_chat{
        width: 100%;
    }

    &_header{
        height: 10vh;
        flex-grow: 1;
    }

    &_chat{
        max-height: 50%;
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        border-top: thin solid $secondary;
    }
}