.modal_view{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba($secondary, .5);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal_view_input{
        width: 40%;
        height: 40%;
        background-color: $primary;
        border: thin solid $primary;
        border-radius: 15px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        .modal_view_close{
            position: absolute;
            top: .5em;
            right: .5em;
            cursor: pointer;
        }

        form{
            height: 80%;
            width: 90%;
        }
    }
}