.header{
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    z-index: 10;

    &_profile{
        flex-grow: 1;
    }

    &_title{
        display:flex;
        flex-grow: 2;
        svg{
            height: 100%;
            width: 2em;
        }
        h3{
            display: flex;
            align-items: center;
        }
    }
}